* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #091922;
}

header {
  width: 100%;
  background: #091922;
  padding: 10px 20px;
}

.navbar {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.navbar__items {
  display: inline-block;
  width: inherit;
}
.navbar__item {
  display: inline-block;
  margin: auto;
  width: 15%;
}

.navbar__item a {
  color: #a8ffbf;
  text-decoration: none;
  transition: color 0.2s ease, text-shadow 0.2s ease;
}

.navbar__item a:hover,
.navbar__item a:active {
  color: #c1ffd7;
  text-shadow: 0 0 5px #a8ffbf;
}

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #071219;
  color: #a8ffbf;
  padding: 10px 20px;
  font-weight: 100;
  text-align: center;
}